@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  height: 80px;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1199;
}

.header.navbar-shrink {
  height: 70px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media (min-width: 760px) {
  .nav {
    gap: 40px;
  }
}
.nav-search-half {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  gap: 8px;
  border-radius: 4px;
  background: var(--Main-Secondary, #70c05b);
}
@media (min-width: 760px) {
  .nav-search-half {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
  }
}
@media (min-width: 1000px) {
  .nav-search-half {
    width: 140px;
  }
}
.nav-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.nav-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.nav-logo-link p {
  display: none;
  color: #414141;
  font-size: 20px;
  font-weight: 500;
}
@media (min-width: 900px) {
  .nav-logo-link p {
    display: block;
  }
}
.nav-search-text {
  display: none;
  width: 92px;
  color: var(--Main-onSecondary, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
@media (min-width: 800px) {
  .nav-search-text {
    display: block;
  }
}
.nav-list {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.nav-list a {
  color: #414141;
}
@media (min-width: 760px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav-person {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
@media (min-width: 760px) {
  .nav-person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav-search-half-2 {
  position: relative;
}
.nav-search-half-2 input {
  width: 230px;
  padding: 10px 0 10px 10px;
  border-radius: 4px;
  border: 1px solid var(--Main-Secondary, #70c05b);
  background: var(--Main-Surface, #fff);
}
@media (min-width: 760px) {
  .nav-search-half-2 input {
    width: 300px;
  }
}
@media (min-width: 1000px) {
  .nav-search-half-2 input {
    width: 360px;
  }
}
.nav-search-half-2 img {
  position: absolute;
  top: 5px;
  right: 15px;
}
.nav-person-name, .nav-icon {
  display: none;
}
@media (min-width: 1000px) {
  .nav-person-name, .nav-icon {
    display: block;
  }
}

.logo {
  display: none;
}
@media (min-width: 1000px) {
  .logo {
    display: block;
  }
}

#navbar-toogle {
  position: fixed;
  width: 100%;
  top: -240px;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  padding: 45px 0;
}

.navbar-toogle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.res__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.res__nav__link {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  color: #414141;
}

.res__nav__link:hover {
  color: green;
}

.res__nav__link:focus,
.res__nav__link:active {
  color: red;
}

#navbar-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  border: none;
  background: transparent;
  color: red;
}

.div-item-text,
.div-item-texts,
.div-item-textses {
  position: absolute;
  width: 15px;
  height: 16px;
  right: 16px;
  top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  border-radius: 20px;
  background: var(--Main-Primary, #f63);
  padding: 2px;
  color: #fff;
}

.div-item-texts {
  right: 25px;
}

.div-item-textses {
  right: 3px;
}

.div-item-textes {
  position: absolute;
  width: 15px;
  height: 16px;
  right: 0px;
  top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  border-radius: 20px;
  background: var(--Main-Primary, #f63);
  padding: 2px;
  color: #fff;
}

.div-item-textsesss {
  position: absolute;
  width: 15px;
  height: 16px;
  right: 0px;
  top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  border-radius: 20px;
  background: var(--Main-Primary, #f63);
  padding: 2px;
  color: #fff;
}

.div-item {
  position: relative;
}

.mode-btn {
  border: none;
  background-color: transparent;
}

#footer {
  background-image: url(../../images/bg.png);
  background-color: #F9F4E2;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 25px 0;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
}
@media (min-width: 1000px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  gap: 20px;
  padding-bottom: 20px;
}
@media (min-width: 1000px) {
  .footer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 0;
  }
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 20px;
}
@media (min-width: 1000px) {
  .footer__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__link {
  color: var(--Main-onSurface, #414141);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.footer__tel {
  color: var(--Main-onSurface, #414141);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.footer-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-bottom: 25px;
}
@media (min-width: 1000px) {
  .footer-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
.footer-title {
  color: var(--Main-onSurface, #414141);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
.footer-lists {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 8px 0 8px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  z-index: 99;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 760px) {
  .footer-lists {
    display: none;
  }
}
.footer-item-list {
  color: var(--Main-onSurface, #414141);
  text-align: center;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.toogles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #fff;
}

.footer__toogle {
  position: fixed;
  width: 100%;
  bottom: -240px;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  padding: 40px 0;
}

.text-neutral-content {
  color: rgba(33, 32, 36, 0.8);
}

.font-semibold {
  font-size: 18px;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.home-title {
  color: #414141;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}

#home,
#tovar,
#row,
#location {
  background: var(--Main-BGPage, #fbf8ec);
}

.homes {
  padding-bottom: 40px;
}

.home-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}
@media (min-width: 760px) {
  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .home-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
@media (min-width: 1200px) {
  .home-cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}

.home-title-right {
  color: var(--Grayscale-Hardest, #606060);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.card {
  max-width: 300px;
  border-radius: 4px;
  position: relative;
  background: #fff;
  padding: 8px 8px;
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (min-width: 760px) {
  .card {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 0;
}
.card-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 40px 0;
}
.card-price-mainly {
  color: #414141;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.card-price-mainly-text {
  color: var(--Grayscale-Light, #bfbfbf);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
.card-price-mainly-2 {
  color: var(--Grayscale-Hardest, #606060);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.card-list {
  max-width: 256px;
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  line-height: 185%;
  padding: 0 0 5px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.card-links {
  text-align: center;
  margin: 6px 0 6px 0;
}
.card-link {
  width: 100%;
  padding: 8px;
  color: #4ee334;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  border: 1px solid #4ee334;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: transparent;
}
.card-link:hover {
  color: #fff;
  background-color: #f63;
  border: 1px solid transparent;
}
.card-precent {
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  padding: 6px;
  text-align: center;
  background: #f63;
  top: 130px;
  left: 13px;
}
.card-img {
  position: absolute;
  top: 13px;
  right: 13px;
}
.card__plus-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ddd;
  border-radius: 4px;
}
.card .minus,
.card .plus {
  padding: 3px 40px;
  font-size: 30px;
  background-color: #4ee334;
  color: #fff;
}
.card .plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.card .minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.card .card__cantent {
  color: #000;
  font-size: 25px;
}

.active {
  display: block;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}
@media (min-width: 760px) {
  .app {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.app-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  background: var(--Main-PrimaryMuted, #fcd5ba);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
          box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
}
@media (min-width: 760px) {
  .app-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px 40px;
  }
}
.app-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  padding: 20px 40px;
  border-radius: 4px;
  background: var(--Main-SecondaryMuted, #e5ffde);
  -webkit-box-shadow: 0px 8px 16px 0px #e5ffde;
          box-shadow: 0px 8px 16px 0px #e5ffde;
}
@media (min-width: 760px) {
  .app-left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.app-title {
  max-width: 258px;
  color: #414141;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
.app-text {
  max-width: 258px;
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.cards-2 {
  padding: 10px 0 10px 10px;
}

.row-cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 40px;
  padding-bottom: 80px;
}
@media (min-width: 760px) {
  .row-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .row-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.row-cards img {
  width: 100%;
}
.row-card {
  border-radius: 4px;
  background: var(--Main-Surface, #fff);
  -webkit-box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
          box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
}
.row-card-date {
  color: var(--Grayscale-Hard, #8f8f8f);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
.row-card-title {
  max-width: 356px;
  padding: 10px 0;
  color: #414141;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.row-card-list {
  max-width: 356px;
  padding-bottom: 10px;
  color: #414141;
  font-size: 16px;
  font-weight: 400;
}
.row-card a {
  padding: 6px 20px;
  border: 1px solid #70c05b;
  color: #70c05b;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  background: var(--Main-SecondaryMuted, #e5ffde);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.row .row-card a:hover {
  background: #70c05b;
  color: #fff;
}

#hero {
  padding-top: 85px;
  background-image: url(../../images/Group\ 7100.png);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (min-width: 1000px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero-title {
  color: #414141;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
}
@media (min-width: 1000px) {
  .hero-title {
    font-size: 48px;
  }
}

.location__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding-bottom: 30px;
}
@media (min-width: 1000px) {
  .location__list {
    grid-template-columns: repeat(4, 90px);
  }
}
.location__link {
  padding: 8px;
  color: var(--Grayscale-Hardest, #606060);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  background: var(--Grayscale-Lightest, #f3f2f1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.location__link:active {
  border-radius: 4px;
  color: #fff;
  background: #70c05b;
}

.active-tab {
  background-color: #70c05b;
  color: #fff;
}

iframe {
  width: 100%;
}

.card-heart {
  height: 20px;
  width: 20px;
  background-color: #f20044;
  position: relative;
  position: absolute;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  top: 15px;
  right: 15px;
}

.card-heart::before {
  content: " ";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #f20044;
  top: 50%;
  border-radius: 50%;
}

.card-heart::after {
  content: " ";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #f20044;
  right: 50%;
  border-radius: 50%;
}

.dark svg {
  fill: #fff;
}

.dark .header {
  background-color: #000;
  color: #fff;
}

.dark .nav-item-list,
.dark .nav-logo-link p,
.dark .hero-title,
.dark .card-price-mainly,
.dark .card-price-mainly-text,
.dark .card-price-mainly-2,
.dark .card-list,
.dark .home-title,
.dark .row-card-date,
.dark .row-card-title,
.dark .row-card-list,
.dark .footer__link,
.dark .footer__tel,
.dark .footer-title,
.dark .font-neutron {
  color: #fff;
}

.dark #hero,
.dark #home,
.dark #tovar,
.dark #location,
.dark #row,
.dark #footer {
  background-color: #000;
}

.dark #footer {
  background-image: none;
}

.dark .app-right {
  background-color: #000;
  border: 1px solid #f63;
}

.dark .card,
.dark .row-card {
  border: 1px solid #fff;
  background-color: #000;
}

.dark .app-left {
  background-color: #000;
  border: 1px solid #e5ffde;
}

.img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.img:hover {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
}

.imagess {
  fill: transparent;
  stroke: #fff;
}

.dark .imagess {
  fill: transparent;
}

.btn-danger .imagess {
  fill: red;
  stroke: red;
}