@import "../main.scss";
@import "../base/font.scss";

#home {
  padding-bottom: 120px;
}

.home-title {
  color: $text-color;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  padding-top: 50px;
}

.homes {
  padding-bottom: 40px;
}

.home-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  gap: 40px;
  @media (min-width: 760px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.home-title-right {
  color: var(--Grayscale-Hardest, #606060);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

// .card:hover .card-img {
//   position: absolute;
//   top: 5px;
//   right: 5px;
// }

.img:hover {
  transform: scale(1.1);
}

.card {
  max-width: 272px;
  border-radius: 4px;
  position: relative;
  background: $white-color;
  padding: 8px 8px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  overflow: hidden;
  &-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
  }
  // &-card-price-1 {
  //     position: relative;
  // }
  &-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0 40px 0;
  }
  &-price-mainly {
    color: $text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
  }
  &-price-mainly-text {
    color: var(--Grayscale-Light, #bfbfbf);
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  &-price-mainly-2 {
    color: var(--Grayscale-Hardest, #606060);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  &-list {
    max-width: 256px;
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 170%;
    padding: 0 0 8px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  &-links {
    text-align: center;
    margin: 8px 0 8px 0;
  }
  &-link {
    width: 100%;
    padding: 8px;
    color: $secondary-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    border-radius: 4px;
    border: 1px solid $secondary-color;
    transition: 0.5s;
    background-color: transparent;
  }
  &-link:hover {
    color: $white-color;
    background-color: $primary-color;
    border: 1px solid transparent;
  }
  &-precent {
    position: absolute;
    color: $white-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-radius: 4px;
    padding: 6px;
    text-align: center;
    background: $primary-color;
    top: 130px;
  }
  &-img {
    position: absolute;
    top: 15px;
    right: 10px;
  }
  &__plus-minus {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    border-radius: 4px;
  }
}

.card__plus-minus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  border-radius: 4px;
}

.minus,
.plus {
  padding: 3px 40px;
  font-size: 30px;
  background-color: #70c05b;
  color: $white-color;
}
.card__cantent {
  color: $dark-color;
  font-size: 25px;
}
.plus {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.minus {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.page-link {
  color: var(--Grayscale-Hardest, #606060);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-radius: 4px;
  border: 0px solid var(--Grayscale-Hardest, #606060);
  display: flex;
  width: 40px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.imagess {
  fill: #FFF;
}
.btn-danger .imagess {
  stroke: red;
  fill: red;
}

.active .page-link {
  color: $white-color;
  border-radius: 50%;
  background-color: red;
}

.img {
  transform: scale(1.1);
}

.img:hover {
  transform: scale(1.13);
}
